* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color : #ffffff;
    --text-color : #000;
    --secound-color : #a09dab;
    --main-color : #f75023;
    --big-font : 5rem;
    --h2-font : 3rem;
    --p-font : 1.1rem;   
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 12%;
    transition: .3s;
}

.logo img {
    max-height: 100%;
    width: 250px;
    height: auto;
}

.navlist {
    display: flex;
}

.navlist li {
    position: relative;
    text-decoration: none;
}

.navlist a {
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
}

.navlist a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--main-color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}

.navlist a:hover::after {
    width: 100%;
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.top-btn {
    display: inline-block;
    padding: 9px 30px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    letter-spacing: 1px;
    font-size: var(--p-font);
    font-weight: 500;
    transition: ease .50s;
}

.top-btn:hover {
    transform: scale(1.1);
    background: var(--main-color);
    border: 2px solid var(--bg-color);
    color: var(--bg-color);
}

section {
    padding: 100px 18%;
}

.home {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    padding-top: 175px;
    background: url(./img/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
}

.home-text h1 {
    margin: 10px 0px 25px;
    font-size: var(--big-font);
    line-height: 1;
    font-weight: 500;
}

.home-text h5 {
    margin-bottom: 23px;
    font-size: 19px;
    font-weight: 500;
}

span {
    color: var(--main-color);
}

.home-text h3 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text p {
    font-size: var(--p-font);
    color: var(--secound-color);
    margin-bottom: 20px;
}

.social a{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 103, 240, 1);
    font-size: 17px;
    color: var(--bg-color);
    margin-right: 22px;
    margin-bottom: 30px;
}

.social a:hover {
    transform: scale(1.1);
    background: var(--main-color);
    transition: .5s;
}

.btn {
    display: inline-block;
    color: var(--bg-color);
    background: var(--main-color);
    font-size: var(--p-font);
    padding: 10px 40px;
    border-radius: 30px;
    font-weight: 500;
    line-height: 24px;
    transition: ease .40s;
}

.btn:hover {
    transform: scale(1.1);
}

.home-img img {
    max-width: 100%;
    width: 540px;
    height: auto;
}

header.sticky {
    background: var(--bg-color);
    padding: 13px 12%;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 10%) ;
}

.items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	grid-gap: 2rem;
	align-items: center;
	text-align: center;
}

.sub-box{
	padding: 30px 30px 30px 30px;
	transition: ease .50s;
	cursor: pointer;
}

.sub-img img{
    max-width: 100%;
    width: 60px;
    height: auto;
    margin-bottom: 20px;
}

.sub-box h3 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.sub-box p {
    font-size: var(--p-font);
    color: var(--secound-color);
    line-height: 29px;
}

.sub-box:hover {
    background: #ffffff;
    box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
    will-change: trasnform;
    transform: perspective(1000px) rotateX(4.80deg) rotateY(10.23deg) scale3d(1.05,1.05,1.05);
}

.contact {
    background: #8067f0eb;
    width: 64%;
    margin: 100px auto;
    padding: 70px 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 12px;
    background-image: url(./img/intro.png);
    background-size: cover;
}

.center h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 3px;
    color: var(--bg-color);
}

.center p {
    font-size: var(--p-font);
    color: var(--bg-color);
    line-height: 26px;
    margin-bottom: 25px;
}

.contact .action form input[type="email"] {
    max-width: 100%;
    width: 470px;
    padding: 12px 15px;
    background: var(--bg-color);
    color: var(--text-color);
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
}

.contact .action form input[type="submit"] {
    padding: 12px 40px;
    background: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
}

.contact .action form input[type="submit"]:hover {
    background: white;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    transform: scale(1.1);
    transition: ease .40s;
}

.contact .action form textarea[type="textarea"] {
    padding: 12px 25px;
    background: var(--bg-color);
    color: var(--text-color);
    cursor: pointer;
    border: none;
    outline: none;
    resize: none;
    margin: 0 10px 20px 0;
    border-radius: 20px;
}

.ends {
    text-align: center;
    padding: 40px;
}

.ends p {
    font-size: var(--p-font);
    letter-spacing: 1px;
}

.container{
    width: 100%;
    height: 130.5vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(./img/background.a.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}

.row{
    display: flex;
    height: 88%;
    align-items: center;
}

.coli h1{
    color: #fff;
    font-size: 100px;
    text-align: center;
    padding-top: 65px;
}
.artikel p{
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
}

.coli p{
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
}

.artikel .col button {
    width: 150px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background:#fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.coli button {
    width: 150px;
    color: #000;
    font-weight: 500;
    font-size: 12px;
    padding: 12px 0;
    background:#fff;
    border: 0;
    margin-left: 40%;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}

.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 15px;
    margin-left: 50px;
    background-position: center;
    background-size: cover;;
    transition: transform 0.5s;
}
.card1{
    background-image: url(./img/candi-1.png);
}
.card2{
    background-image: url(./img/candi-2.png);
}
.card3{
    background-image: url(./img/candi-3.png);
}
.card4{
    background-image: url(./img/candi-4.png);
}
.card:hover{
    transform: translateY(-10px);
}
.artikel h5{
    color: #000;
    text-shadow: 0 0 5px #999;
    font-weight: 500;
}
.card p{
    text-shadow: 0 0 15px #000;
    font-size: 8px;
}

.artikel {
    padding-top: 70px;
}

.artikel section {
    padding: 100px 100%;
}

.about img {
    height: auto;
    width: 480px;
}

.about-text {
    width: 550px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: #000;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #000;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: rgb(53, 40, 40);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

/* .button button{
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    margin: 1%;
}

.button a button{
    color: #fff;
    text-decoration: none;
}

button:hover {
    transform: scale(1.1);
    border: 2px solid #aeaeae;
} */

.about-text form button[type="button"] {
    padding: 12px 20px;
    background: var(--main-color);
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 10px 20px 0;
    border-radius: 30px;
}

.about-text form button[type="button"]:hover {
    background: white;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    transform: scale(1.1);
    transition: ease .40s;
}