@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    font-size: 16px/28px ;
    background-color: #333;
}

.hhh {
    text-align: center;
    font-size: 65px;
    padding-bottom: 20px;
    color: brown;
    text-decoration: underline;
}

.container {
    width: 75%;
    margin: auto;
    background-color: #e5e2e2;
    font-family: Arial, sans-serif;
}

.hero {
    height: 102.5vh;
    width: 100%;
    margin-top: -20px;
    background-size:cover;
    background-position: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-right: 8%;
    padding-left: 8%; 
    padding-bottom: 25px;
    background-color: #191919;
}

.logo {
    color: #fff;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

.tab {
    margin-left: 25px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover {
    color: #aeaeae;
    transition: .4s;
}

.btn {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn2 {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    margin-left: 20px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.1);
    color: #fff;
    border: #fff solid 2px;
}

.btn2:hover {
    transform: scale(1.1);
    background-color: #aeaeae;
}

.hero2 {
    height: 380px;
    width: 65%;
    background-image: url(../img/Hero2.jpg) ;
    background-size: cover;
    background-position: center;
    padding-top: 45px;
    margin-top: 20px;
    /* border-radius: 10px; */
    margin-left: 18%;
    /* border-bottom: brown solid 3px;
    border-left: wheat solid 3px;
    border-right: brown solid 3px;
    border-top: wheat solid 2px ; */
}

.hero3 {
    height: 380px;
    width: 65%;
    background-image: url(../img/china.png) ;
    background-size: cover;
    background-position: center;
    padding-top: 45px;
    /* border-radius: 10px; */
    margin-left: 18%;
    /* border-bottom: brown solid 3px;
    border-left: wheat solid 3px;
    border-right: brown solid 3px;
    border-top: wheat solid 2px ; */
}

.hero4 {
    height: 380px;
    width: 65%;
    background-image: url(../img/prambanan.webp) ;
    background-size: cover;
    background-position: center;
    padding-top: 45px;
    /* border-radius: 10px; */
    margin-left: 18%;
    /* border-bottom: brown solid 3px;
    border-left: wheat solid 3px;
    border-right: brown solid 3px;
    border-top: wheat solid 2px ; */
}

.conten {
    padding: 6%;
}

.conten h2 {
    margin-top: -5%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}

.conten .penulis {
    font-size: 11px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.conten .penulis a {
    color: brown;
    text-decoration: none;
}

.conten p {
    font-size: 15px;
    text-align: justify;
}
.footer {
    background-color: #333;
    padding: 8px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 15px;
}

